$dark--color: #242424;
$light--color: #ffebeb;
$blue--color: #4cacff;


* {
    box-sizing: border-box;
}

body {
    background-color: $light--color;
    overflow-x: hidden;
    font-family: sans-serif;
}

h1 {
    color: $dark--color;
}

.intro {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    align-items: center;
    margin: 0 auto;
    border-radius: 20px;

    button {
        border-radius: 50px;
        padding: 10px 50px;
        background: $blue--color;
        color: #fff;
        font-size: 16px;
        border: none;
    }
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    padding: 10px;
    border: solid 3px $blue--color;
    border-radius: 20px;
    margin: 50px auto 0 auto;

    li {
        color: $light--color;
        text-decoration: none;
        margin: 5px;
        padding: 5px;
        background: $blue--color;
        font-size: 16px;
        flex: 1;
        display: block;
    }
}
